header {
  padding: 50px;
  top: -20px;
  left: -50px;
  position: absolute;
}

.encabezado {
  padding: 10px;
}
.imagen {
  border: 2px solid #5e454b;
  border-radius: 40px;
  background-color: #d8b384;
  width: 30%;
}
p {
  color: #5e454b;
  font-weight: bold;
  margin: 0%;
}
