header {
  padding: 50px;
  top: -20px;
  left: -50px;
  position: absolute;
}

.encabezado {
  padding: 10px;
}
.imagen {
  border: 2px solid var(--contrast-color);
  border-radius: 40px;
  background-color: var(--accent-color-contrast);
  width: 30%;
}
p {
  color: var(--contrast-color);
  font-weight: bold;
  margin: 0%;
}
