.form {
  width: 50%;
  padding: 10px 10px 10px 5px;
}
.form__input {
  padding: 10px 10px 10px 5px;
  display: flex;
}

.form__select {
  width: 100%;
  height: 30px;
  background-color: var(--accent-color);
  border-radius: 5px;
  border: none;
}

.input__range {
  padding: 0px;
  width: 100%;
  height: 100%;

  accent-color: var(--contrast-color);
  white-space: nowrap;
}
