:root {
  --base-color: #f3f0d7;
  --contrast-color: #5e454b;
  --accent-color: #cee5d0;
  --accent-color-contrast: #d8b384;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--base-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--contrast-color);
}
h2 {
  color: var(--contrast-color);
}

button {
  width: auto;
  height: 50px;
  border-radius: 5px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: var(--contrast-color);
  color: var(--base-color);
  font-weight: bolder;
  border: none;
  cursor: pointer;
  justify-content: center;
  margin-top: 25px;
}
