.fieldset__block {
  display: flex;
  margin-bottom: 2%;
  flex-direction: column;
  background-color: var(--accent-color);
  border-radius: 5px;
  border: none;
}
.block__question {
  font-weight: bold;
  color: var(--contrast-color);
}
.block__answer {
  text-align: left;
}
.radio__bottom {
  background: var(--contrast-color);
}
